img.logo {
  width: 95px;
  margin-top: -0.6rem;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
