
@media (max-width: 860px) {
    #propertyFormPropertyImage {
        width: 200px;
    }
}

@media (max-width: 766px) {
    #propertyFormPropertyImage {
        width: 150px;
    }
}

@media (max-width: 640px) {
    #propertyFormPropertyImage {
        width: 100px;
    }
}

@media (max-width: 286px) {
    #propertyFormPropertyImage {
        width: 75px;
    }
}

@media (max-width: 964px) {
    #propertyCardPropertyImage {
        width: 400px;
    }
}

@media (max-width: 815px) {
    #propertyCardPropertyImage {
        width: 300px;
    }
}

@media (max-width: 670px) {
    #propertyCardPropertyImage {
        width: 200px;
    }
}

@media (max-width: 580px) {
    #propertyCardPropertyImage {
        width: 275px;
    }
}

@media (max-width: 406px) {
    #propertyCardPropertyImage {
        width: 200px;
    }
}

@media (max-width: 280px) {
    #propertyCardPropertyImage {
        width: 125px;
    }
}

@media (max-width: 870px) {
    #tenantDashboardPropertyImage {
        width: 400px;
    }
}

@media (max-width: 740px) {
    #tenantDashboardPropertyImage {
        width: 300px;
    }
}

@media (max-width: 600px) {
    #tenantDashboardPropertyImage {
        width: 400px;
    }
}

@media (max-width: 500px) {
    #tenantDashboardPropertyImage {
        width: 300px;
    }
}

@media (max-width: 375px) {
    #tenantDashboardPropertyImage {
        width: 200px;
    }
}

@media (max-width: 250px) {
    #tenantDashboardPropertyImage {
        width: 150px;
    }
}

.propertyDashImageCardHoalder{
    display: flex;
    justify-content: center;
}

#propertyDashPropertyImage{
    width: 280px;
    height: 180px;
}

@media (max-width: 340px) {
    #propertyDashPropertyImage {
        width: 200px;
    }
}

@media (max-width: 260px) {
    #propertyDashPropertyImage {
        height: 150px;
        width: 150px;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#centerLoader{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}